.header {
    border-bottom: 1px solid #f2f4f7;
    background-color: #f2f4f7;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    margin-bottom: 4px;
}

.headerBlock {
    display: flex;
    justify-content: space-between;
}

.navigation {
    margin-left: auto;
    list-style-type: none;
    display: none;
}

.menuList {
    display: flex;
    gap: 32px;
    padding: 24px 0;
}

.logo {
    display: block;

}

.logoLink {
    padding: 26px 0;
}

.navLink {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    color: #101828;
}


.burgerIcon {
    fill: #2f2f37;
    display: block;
}

.burgerBtn {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;

}

.mobileMenuContainer {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #fff;
}

.mobileMenu {
    position: fixed;
    top: 0;
    left: 0;
    /* right: 0;
    bottom: 0; */
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 999;

    /* Початково сховане (зсув вправо) */
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: transform 0.3s ease-in-out,
        opacity 0.3s ease-in-out,
        visibility 0.3s ease-in-out;
}

.mobileMenuOpen {
    /* Відкрите меню */
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobileMenuBtnClose {
    position: absolute;
    top: 24px;
    right: 20px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #e7e9fc;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modalIconClose {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigationModal {}

.menuListMenu {}

.navLinkModal {
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    text-align: center;
    color: #101828;
    display: block;
}

.menuItemModal {
    margin-bottom: 20px;
}

.navLinkActive {
    color: #0b44cd;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
    .navigation {
        display: block;
    }

    .burgerBtn {
        display: none;

    }
}