.carsList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 48px 32px;
    margin-bottom: 80px;
}

.btn {
    display: block;
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    color: #101828;
    border: 1px solid #3470ff;
    border-radius: 12px;
    padding: 12px 51px;
    background-color: transparent;
    margin: 0 auto;
}

.btn:hover,
.btn:focus {
    border: 1px solid #0b44cd;
}