.filtersForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
    margin-bottom: 32px;
}


.filterField {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    width: 100%;
}

.filterLabel {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33333;
    color: #8d929a;
}

.filterSubmit {
    border-color: transparent;
    border-radius: 12px;
    padding: 10px 51px;
    background-color: #3470ff;
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    color: #fff;
    width: 100%;
}

.filterSubmit:hover,
.filterSubmit:focus {
    background-color: #0b44cd;
}

.filterControl {
    border-color: transparent;
    border-radius: 12px;
    padding: 12px 16px;
    width: 100%;
    height: 44px;
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.customSelect {
    position: relative;
    display: block;
    width: 100%;
}

.selectArrow {
    transition: transform 0.3s ease;
    flex-shrink: 0;
}

.selectArrowUp {
    transform: rotate(180deg);
}

.selectDropdown {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    width: 100%;
    height: 272px;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #f7f7f7;
    border-radius: 12px;
    box-shadow: 0 4px 36px 0 rgba(0, 0, 0, 0.02);
    list-style: none;
    padding: 12px 0;
    margin: 0;
    z-index: 1000;
}

.selectDropdown::-webkit-scrollbar {
    width: 8px;
}

.selectDropdown::-webkit-scrollbar-track {
    background: transparent;
    margin: 12px 0;
}

.selectDropdown::-webkit-scrollbar-thumb {
    background-color: #dadde1;
    border-radius: 10px;
    width: 8px;
    height: 128px;
    background-clip: padding-box;
}


.selectDropdown li {
    padding: 8px 16px;
    cursor: pointer;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: #8d929a;
}

.selectDropdown li:hover {
    background-color: #f7f7f7;
}

.selectDropdown li.selectOptionSelected {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: #101828;
}

.mileageInputs {
    display: flex;
    width: 100%;

}

.mileageInputWrapper {
    position: relative;
    display: flex;
    align-items: center;
    flex: 1;
    min-width: 0;
}

.mileageLabel {
    position: absolute;
    left: 16px;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    color: #101828;
    pointer-events: none;
}

.mileageInputFrom {
    border: none;
    border-right: 1px solid #dadde1;
    border-radius: 12px 0 0 12px;
    flex: 1;
    min-width: 0;
    height: 44px;
    background-color: #f7f7f7;
    padding: 12px 8px 12px 60px;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    color: #101828;
}

.mileageInputTo {
    border: none;
    border-radius: 0 12px 12px 0;
    flex: 1;
    min-width: 0;
    height: 44px;
    background-color: #f7f7f7;
    padding: 12px 8px 12px 40px;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    color: #101828;
}

.mileageInputTo:focus,
.mileageInputFrom:focus {
    border-color: #3470ff;
}

.mileageInputFrom:-webkit-autofill,
.mileageInputFrom:-webkit-autofill:hover,
.mileageInputFrom:-webkit-autofill:focus,
.mileageInputFrom:-webkit-autofill:active,
.mileageInputTo:-webkit-autofill,
.mileageInputTo:-webkit-autofill:hover,
.mileageInputTo:-webkit-autofill:focus,
.mileageInputTo:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #f7f7f7 inset;
    box-shadow: 0 0 0 30px #f7f7f7 inset;
    -webkit-text-fill-color: #101828;
}


/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
    .filtersForm {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: center;
        gap: 32px;
        margin-bottom: 56px;
    }

    .filterField {
        width: auto;
        flex: 1;
        max-width: 336px;
    }

    .filterControl {
        width: 100%;
        padding: 12px 9px;
    }

    .customSelect {
        width: auto;
        min-width: 336px;
    }

    .mileageInputWrapper {
        flex: 1;
        min-width: 0;
    }

    .mileageInputs {
        display: flex;
        width: 100%;
    }

    .filterSubmit {
        width: auto;
        min-width: 336px;
        padding: 10px 44px;
    }


}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {

    .filtersForm {
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
        gap: 16px;
        margin-bottom: 56px;
        padding: 0 138px;
    }

    .filterControl {
        width: 204px;
    }

    .filterField {
        width: 204px;
    }

    .filterControl {
        width: 204px;
    }

    .customSelect {
        width: auto;
    }

    .mileageInputs {
        display: flex;
    }

    .filterSubmit {
        min-width: 0;
    }

    .selectDropdown {
        width: 204px;
        height: 272px;
    }

    .mileageInputFrom {
        padding: 12px 8px 12px 50px;
    }

    .mileageInputTo {
        padding: 12px 8px 12px 30px;
    }


}