.catalogPage {
    width: 100%;
    margin-top: 56px;
    margin-bottom: 124px;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
    .catalogPage {
        width: auto;

    }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {}